Repository googleapis/python-firestore, pull requests merged in 2020-09, with the labels that each got.

#169 fix: use specific naming convention
  google/cloud/firestore_v1/base_query.py
Labels: api: firestore, cla: yes

#168 tests: allow running systests on emulator
  tests/system/test__helpers.py
  tests/system/test_system.py
  tests/system/test_system_async.py
Labels: api: firestore, cla: yes

#186 chore: remove collection import
  google/cloud/firestore_v1/field_path.py
Labels: api: firestore, automerge, cla: yes

#187 chore: move firestore to use GAPICBazel and regenerate
  .github/snippet-bot.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/fetch_gpg_keys.sh
  .kokoro/docs/common.cfg
  .kokoro/docs/docs-presubmit.cfg
  .kokoro/populate-secrets.sh
  .kokoro/publish-docs.sh
  .kokoro/release/common.cfg
  .kokoro/trampoline.sh
  .kokoro/trampoline_v2.sh
  .trampolinerc
  docs/conf.py
  google/cloud/firestore_admin_v1/py.typed
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/base.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc_asyncio.py
  google/cloud/firestore_admin_v1/types/__init__.py
  google/cloud/firestore_v1/py.typed
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/client.py
  google/cloud/firestore_v1/services/firestore/pagers.py
  google/cloud/firestore_v1/services/firestore/transports/base.py
  google/cloud/firestore_v1/services/firestore/transports/grpc.py
  google/cloud/firestore_v1/services/firestore/transports/grpc_asyncio.py
  google/cloud/firestore_v1/types/__init__.py
  google/cloud/firestore_v1/types/common.py
  google/cloud/firestore_v1/types/document.py
  google/cloud/firestore_v1/types/firestore.py
  google/cloud/firestore_v1/types/query.py
  google/cloud/firestore_v1/types/write.py
  noxfile.py
  scripts/decrypt-secrets.sh
  scripts/fixup_firestore_admin_v1_keywords.py
  setup.cfg
  setup.py
  synth.metadata
  synth.py
  tests/unit/gapic/admin_v1/__init__.py
  tests/unit/gapic/firestore_admin_v1/__init__.py
  tests/unit/gapic/firestore_admin_v1/test_firestore_admin.py
  tests/unit/gapic/firestore_v1/__init__.py
  tests/unit/gapic/firestore_v1/test_firestore.py
Labels: api: firestore, cla: yes

#191 tests: drop min coverage to 97%
  docs/conf.py
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/base.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/transports/base.py
  noxfile.py
  synth.metadata
  synth.py
Labels: api: firestore, cla: yes

#201 chore: fix 'pytype' via manual synth
  .kokoro/build.sh
  CONTRIBUTING.rst
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/base.py
  google/cloud/firestore_v1/services/firestore/client.py
  synth.metadata
  synth.py
  tests/unit/gapic/firestore_admin_v1/test_firestore_admin.py
Labels: automerge, cla: yes

#196 chore: let synth generate .coveragerc
  .coveragerc
  synth.metadata
  synth.py
Labels: api: firestore, cla: yes

#204 chore: fix exception sorting (via synth)
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/base.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/transports/base.py
  synth.metadata
Labels: cla: yes, context: none
