Repository googleapis/python-firestore, pull requests merged in 2021-03, with the labels that each got.

#322 chore: docs, mtls cert changes
  CONTRIBUTING.rst
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/pagers.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc_asyncio.py
  google/cloud/firestore_admin_v1/types/field.py
  google/cloud/firestore_admin_v1/types/firestore_admin.py
  google/cloud/firestore_admin_v1/types/index.py
  google/cloud/firestore_admin_v1/types/operation.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/client.py
  google/cloud/firestore_v1/services/firestore/pagers.py
  google/cloud/firestore_v1/services/firestore/transports/grpc.py
  google/cloud/firestore_v1/services/firestore/transports/grpc_asyncio.py
  google/cloud/firestore_v1/types/common.py
  google/cloud/firestore_v1/types/document.py
  google/cloud/firestore_v1/types/firestore.py
  google/cloud/firestore_v1/types/query.py
  google/cloud/firestore_v1/types/write.py
  synth.metadata
  tests/unit/gapic/firestore_admin_v1/__init__.py
  tests/unit/gapic/firestore_admin_v1/test_firestore_admin.py
  tests/unit/gapic/firestore_v1/__init__.py
  tests/unit/gapic/firestore_v1/test_firestore.py
Labels: api: firestore, cla: yes, context: partial

#323 chore: test scripts, docs
  .gitignore
  .kokoro/build.sh
  CONTRIBUTING.rst
  noxfile.py
  synth.metadata
Labels: api: firestore, cla: yes, context: partial

#324 chore: upgrade gapic-generator-python to 0.42.2
  google/cloud/firestore_admin_v1/types/__init__.py
  google/cloud/firestore_v1/types/__init__.py
  synth.metadata
Labels: api: firestore, cla: yes, context: full

#325 feat: adds synthed bundle protos
  google/cloud/firestore_admin_v1/types/__init__.py
  google/cloud/firestore_bundle/__init__.py
  google/cloud/firestore_bundle/py.typed
  google/cloud/firestore_bundle/services/__init__.py
  google/cloud/firestore_bundle/types/__init__.py
  google/cloud/firestore_bundle/types/bundle.py
  google/cloud/firestore_v1/types/__init__.py
  synth.metadata
  synth.py
  tests/unit/gapic/bundle/__init__.py
Labels: api: firestore, cla: yes

#326 chore: synth rearrange imports
  google/cloud/firestore_admin_v1/types/__init__.py
  google/cloud/firestore_bundle/types/__init__.py
  google/cloud/firestore_v1/types/__init__.py
  synth.metadata
Labels: api: firestore, cla: yes, context: none

#319 feat: add firestore bundles
  google/cloud/firestore_bundle/__init__.py
  google/cloud/firestore_bundle/_helpers.py
  google/cloud/firestore_bundle/bundle.py
  google/cloud/firestore_v1/_helpers.py
  google/cloud/firestore_v1/base_document.py
  google/cloud/firestore_v1/base_query.py
  google/cloud/firestore_v1/query.py
  synth.py
  tests/unit/v1/_test_helpers.py
  tests/unit/v1/test__helpers.py
  tests/unit/v1/test_bundle.py
  tests/unit/v1/test_collection.py
Labels: api: firestore, cla: yes

#331 fix: use correct retry deadline
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/base.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc_asyncio.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/transports/base.py
  google/cloud/firestore_v1/services/firestore/transports/grpc.py
  google/cloud/firestore_v1/services/firestore/transports/grpc_asyncio.py
  synth.metadata
Labels: api: firestore, cla: yes, context: partial
