Repository googleapis/python-firestore, pull requests merged in 2021-02, with the labels that each got.

#278 docs: clarify semantics of 'merge' argument to 'Document.set'
  docs/batch.rst
  docs/client.rst
  docs/collection.rst
  docs/document.rst
  docs/query.rst
  docs/transaction.rst
  google/cloud/firestore_v1/base_collection.py
  google/cloud/firestore_v1/base_query.py
  google/cloud/firestore_v1/document.py
Labels: api: firestore, cla: yes

#297 build: migrate to flakybot
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
Labels: api: firestore, automerge, cla: yes

#300 fix: use correct type hint for '*path' args
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/base_client.py
  google/cloud/firestore_v1/client.py
Labels: api: firestore, cla: yes

#305 chore: docs, tests, and formatting updates via generator
  .flake8
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .pre-commit-config.yaml
  .trampolinerc
  CONTRIBUTING.rst
  LICENSE
  docs/_static/custom.css
  noxfile.py
  synth.metadata
  synth.py
Labels: api: firestore, cla: yes, context: partial

#302 chore: manual synth
  .gitignore
  CONTRIBUTING.rst
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/pagers.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc_asyncio.py
  google/cloud/firestore_admin_v1/types/field.py
  google/cloud/firestore_admin_v1/types/firestore_admin.py
  google/cloud/firestore_admin_v1/types/index.py
  google/cloud/firestore_admin_v1/types/operation.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/client.py
  google/cloud/firestore_v1/services/firestore/pagers.py
  google/cloud/firestore_v1/services/firestore/transports/grpc.py
  google/cloud/firestore_v1/services/firestore/transports/grpc_asyncio.py
  google/cloud/firestore_v1/types/common.py
  google/cloud/firestore_v1/types/document.py
  google/cloud/firestore_v1/types/firestore.py
  google/cloud/firestore_v1/types/query.py
  google/cloud/firestore_v1/types/write.py
  synth.py
  tests/unit/gapic/firestore_admin_v1/test_firestore_admin.py
  tests/unit/gapic/firestore_v1/test_firestore.py
Labels: api: firestore, cla: yes

#263 docs: add documentation for documentsnapshot class
  google/cloud/firestore_v1/document.py
Labels: api: firestore, cla: yes

#310 docs: trailing whitespace in contributing.rst
  synth.py
Labels: api: firestore, cla: yes

#311 chore: add yoshi-python to CODEWONERS
  .github/CODEOWNERS
Labels: api: firestore, cla: yes

#308 chore: update templates
  CONTRIBUTING.rst
  MANIFEST.in
  google/cloud/firestore_admin_v1/services/firestore_admin/async_client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/client.py
  google/cloud/firestore_admin_v1/services/firestore_admin/pagers.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc.py
  google/cloud/firestore_admin_v1/services/firestore_admin/transports/grpc_asyncio.py
  google/cloud/firestore_admin_v1/types/field.py
  google/cloud/firestore_admin_v1/types/firestore_admin.py
  google/cloud/firestore_admin_v1/types/index.py
  google/cloud/firestore_admin_v1/types/operation.py
  google/cloud/firestore_v1/services/firestore/async_client.py
  google/cloud/firestore_v1/services/firestore/client.py
  google/cloud/firestore_v1/services/firestore/pagers.py
  google/cloud/firestore_v1/services/firestore/transports/grpc.py
  google/cloud/firestore_v1/services/firestore/transports/grpc_asyncio.py
  google/cloud/firestore_v1/types/common.py
  google/cloud/firestore_v1/types/document.py
  google/cloud/firestore_v1/types/firestore.py
  google/cloud/firestore_v1/types/query.py
  google/cloud/firestore_v1/types/write.py
  synth.metadata
  tests/unit/gapic/firestore_admin_v1/test_firestore_admin.py
  tests/unit/gapic/firestore_v1/test_firestore.py
Labels: api: firestore, cla: yes, context: partial

#288 fix: patch emulator channel to be created accordingly
  google/cloud/firestore_v1/base_client.py
  tests/unit/v1/test_base_client.py
Labels: api: firestore, cla: yes

#316 refactor: removing usage of GetDocument proto in favor of BatchGetDocuments
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/async_document.py
  google/cloud/firestore_v1/base_document.py
  google/cloud/firestore_v1/document.py
  tests/unit/v1/test__helpers.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_async_collection.py
  tests/unit/v1/test_async_document.py
  tests/unit/v1/test_async_query.py
  tests/unit/v1/test_cross_language.py
  tests/unit/v1/test_document.py
Labels: api: firestore, cla: yes
