Repository googleapis/python-firestore, pull requests merged in 2021-06, with the labels that each got.

#366 tests: run unit tests under Python 3.9
  noxfile.py
  owlbot.py
Labels: api: firestore, cla: yes

#368 feat: bulk writer 555 rate_limiter
  google/cloud/firestore_v1/rate_limiter.py
  tests/unit/v1/test_rate_limiter.py
Labels: api: firestore, cla: no

#372 fix: add 'packaging' dependency
  setup.py
Labels: api: firestore, cla: yes

#370 fix: update type hint for async_collection.document() to AsyncDocumen…
  google/cloud/firestore_v1/async_collection.py
  tests/unit/v1/test_async_collection.py
Labels: api: firestore, automerge, cla: yes
