Repository googleapis/python-firestore, pull requests merged in 2021-09, with the labels that each got.

#440 fix: treat None cursors as a no-op.
  google/cloud/firestore_v1/base_query.py
  tests/unit/v1/test_base_query.py
Labels: api: firestore, cla: yes

#442 chore: revert owlbot main branch templates
  owlbot.py
Labels: api: firestore, cla: yes

#444 chore: reference main branch of google-cloud-python
  README.rst
Labels: api: firestore, cla: yes

#452 tests: fix tests on main
  testing/constraints-3.6.txt
  tests/unit/v1/test_bulk_writer.py
  tests/unit/v1/test_bundle.py
Labels: api: firestore, cla: yes

#453 fix: unbreak query orders w/ non-orderable operators
  google/cloud/firestore_v1/base_query.py
  tests/system/test_system.py
  tests/unit/v1/test_base_query.py
Labels: api: firestore, cla: yes

#455 chore: unbreak docfx build
  google/cloud/firestore_v1/async_collection.py
  google/cloud/firestore_v1/async_document.py
  google/cloud/firestore_v1/collection.py
  google/cloud/firestore_v1/document.py
  google/cloud/firestore_v1/field_path.py
Labels: api: firestore, cla: yes, automerge

#450 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: api: firestore, status: blocked, cla: yes, automerge

#458 perf: strip proto wrappers in '_helpers.decode_{value,dict}'
  google/cloud/firestore_v1/_helpers.py
  tests/unit/v1/test__helpers.py
Labels: api: firestore, cla: yes

#456 fix: harden 'query.stream' against retriable exceptions
  google/cloud/firestore_v1/query.py
  tests/unit/v1/test_query.py
Labels: api: firestore, cla: yes

#460 test: alter tests, skip tests, to be compatible with emulator
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/test__helpers.py
Labels: api: firestore, cla: yes

#464 tests: ensure systests pass under emulator in a clean environment
  .github/workflows/system_emulated.yml
  google/cloud/firestore_v1/base_client.py
  noxfile.py
  owlbot.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_base_client.py
  tests/unit/v1/test_client.py
Labels: api: firestore, cla: yes
