Repository googleapis/python-firestore, pull requests merged in 2021-08, with the labels that each got.

#412 tests: split systests out to separate Kokoro job
  .kokoro/presubmit/presubmit.cfg
  .kokoro/presubmit/system-3.7.cfg
  owlbot.py
Labels: api: firestore, cla: yes

#417 docs: fixed broken links to devsite
  google/cloud/firestore_v1/transforms.py
Labels: api: firestore, type: docs, cla: yes

#416 docs: added generated docs for Bundles
  docs/bundles.rst
  docs/index.rst
  google/cloud/firestore_bundle/bundle.py
Labels: api: firestore, type: docs, cla: yes

#413 feat: add retry support for BulkWriter errors
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/base_client.py
  google/cloud/firestore_v1/bulk_writer.py
  google/cloud/firestore_v1/client.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/_test_helpers.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_bulk_writer.py
Labels: api: firestore, cla: yes

#407 feat: add support for recursive queries
  google/cloud/firestore_v1/_helpers.py
  google/cloud/firestore_v1/async_query.py
  google/cloud/firestore_v1/base_collection.py
  google/cloud/firestore_v1/base_query.py
  google/cloud/firestore_v1/query.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/test_async_collection.py
  tests/unit/v1/test_base_query.py
  tests/unit/v1/test_collection.py
Labels: api: firestore, cla: yes, automerge

#396 feat: add bulk writer
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/base_batch.py
  google/cloud/firestore_v1/base_client.py
  google/cloud/firestore_v1/batch.py
  google/cloud/firestore_v1/bulk_batch.py
  google/cloud/firestore_v1/bulk_writer.py
  google/cloud/firestore_v1/rate_limiter.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/_test_helpers.py
  tests/unit/v1/test_async_batch.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_base_batch.py
  tests/unit/v1/test_batch.py
  tests/unit/v1/test_bulk_batch.py
  tests/unit/v1/test_bulk_writer.py
  tests/unit/v1/test_client.py
  tests/unit/v1/test_rate_limiter.py
Labels: api: firestore, cla: yes

#415 tests: allow prerelease deps on Python 3.9
  testing/constraints-3.9.txt
Labels: api: firestore, cla: yes

#422 fix: remove unused requirement pytz
  setup.py
  tests/unit/v1/test_watch.py
Labels: api: firestore, cla: yes

#420 feat: add recursive delete
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/async_collection.py
  google/cloud/firestore_v1/async_query.py
  google/cloud/firestore_v1/base_client.py
  google/cloud/firestore_v1/base_document.py
  google/cloud/firestore_v1/base_query.py
  google/cloud/firestore_v1/client.py
  google/cloud/firestore_v1/collection.py
  google/cloud/firestore_v1/query.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_async_collection.py
  tests/unit/v1/test_async_query.py
  tests/unit/v1/test_client.py
  tests/unit/v1/test_collection.py
  tests/unit/v1/test_query.py
Labels: api: firestore, cla: yes

#427 chore: generate python samples templates in owlbot.py
  owlbot.py
Labels: api: firestore, cla: yes, automerge, samples

#428 chore: add missing import in owlbot.py
  owlbot.py
Labels: api: firestore, cla: yes

#426 tests: revert testing against prerelease deps on Python 3.9
  testing/constraints-3.9.txt
Labels: api: firestore, cla: yes, automerge
