Repository googleapis/python-firestore, pull requests merged in 2023-09, with the labels that each got.

#761 chore: update test dependencies
  noxfile.py
  owlbot.py
Labels: api: firestore, size: xs

#755 chore: add sync-repo-settings.yaml
  .github/sync-repo-settings.yaml
Labels: api: firestore, kokoro:run, size: s

#753 docs: Relax database arg constraint in client.py comment
  google/cloud/firestore_v1/client.py
Labels: api: firestore, size: xs

#767 fix: ensure transactions rollback on failure
  google/cloud/firestore_v1/async_transaction.py
  google/cloud/firestore_v1/base_transaction.py
  google/cloud/firestore_v1/transaction.py
  google/cloud/firestore_v1/watch.py
  tests/unit/v1/test_async_transaction.py
  tests/unit/v1/test_transaction.py
Labels: api: firestore, size: l
