Repository googleapis/python-firestore, pull requests merged in 2023-12, with the labels that each got.

#716 docs: deprecate google.cloud.firestore_v1.rate_limiter.utcnow
  google/cloud/firestore_v1/_helpers.py
  google/cloud/firestore_v1/bulk_writer.py
  google/cloud/firestore_v1/rate_limiter.py
  noxfile.py
  owlbot.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/test__helpers.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_base_client.py
  tests/unit/v1/test_base_query.py
  tests/unit/v1/test_client.py
  tests/unit/v1/test_rate_limiter.py
Labels: api: firestore, size: l

#822 chore: use AsyncRetry for test_system_async
  google/cloud/firestore_v1/async_aggregation.py
  google/cloud/firestore_v1/async_batch.py
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/async_collection.py
  google/cloud/firestore_v1/async_document.py
  google/cloud/firestore_v1/async_query.py
  google/cloud/firestore_v1/async_transaction.py
  tests/system/test_system_async.py
Labels: api: firestore, size: m

#821 feat: SERVER_TIMESTAMP should survive deep copies (#820)
  google/cloud/firestore_v1/transforms.py
  tests/unit/v1/test_transforms.py
Labels: api: firestore, size: s
