Repository googleapis/python-firestore, pull requests merged in 2024-08, with the labels that each got.

#950 fix: Allow protobuf 5.x; require protobuf >=3.20.2
  setup.py
  testing/constraints-3.7.txt
Labels: api: firestore, size: xs

#949 fix: support async vector search from a collection
  google/cloud/firestore_v1/async_collection.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/system/util/bootstrap_vector_index.py
  tests/unit/v1/test_async_vector_query.py
Labels: api: firestore, size: m

#930 chore: update templated files
  .coveragerc
  .flake8
  .github/.OwlBot.lock.yaml
  .github/auto-label.yaml
  .kokoro/build.sh
  .kokoro/docker/docs/Dockerfile
  .kokoro/populate-secrets.sh
  .kokoro/publish-docs.sh
  .kokoro/release.sh
  .kokoro/requirements.txt
  .kokoro/test-samples-against-head.sh
  .kokoro/test-samples-impl.sh
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  .kokoro/trampoline_v2.sh
  .pre-commit-config.yaml
  .trampolinerc
  MANIFEST.in
  docs/conf.py
  noxfile.py
  owlbot.py
  scripts/decrypt-secrets.sh
  scripts/readme-gen/readme_gen.py
  tests/system/test_system.py
  tests/system/test_system_async.py
Labels: api: firestore, size: l

#948 fix: remove custom retry loop
  google/cloud/firestore_v1/async_transaction.py
  google/cloud/firestore_v1/base_transaction.py
  google/cloud/firestore_v1/transaction.py
  tests/unit/v1/test_async_transaction.py
  tests/unit/v1/test_transaction.py
Labels: api: firestore, size: l
