Repository googleapis/python-firestore, pull requests merged in 2025-05, with the labels that each got.

#1053 fix: Add missing DocumentReference return value to .document
  google/cloud/firestore_v1/base_collection.py
Labels: api: firestore, size: xs

#1056 chore: add java 21 to fix emulator tests
  .github/workflows/system_emulated.yml
Labels: api: firestore, size: xs

#908 feat: Support Sequence[float] as query_vector in FindNearest
  google/cloud/firestore_v1/base_collection.py
  google/cloud/firestore_v1/base_query.py
  google/cloud/firestore_v1/base_vector_query.py
  google/cloud/firestore_v1/query.py
  tests/unit/v1/test_vector.py
  tests/unit/v1/test_vector_query.py
Labels: api: firestore, size: m

#1058 chore: update renovate.json
  owlbot.py
  renovate.json
Labels: api: firestore, size: xs

#1059 feat: Added read_time as a parameter to various calls (async classes)
  google/cloud/firestore_v1/async_aggregation.py
  google/cloud/firestore_v1/async_client.py
  google/cloud/firestore_v1/async_collection.py
  google/cloud/firestore_v1/async_document.py
  google/cloud/firestore_v1/async_query.py
  google/cloud/firestore_v1/async_transaction.py
  tests/system/test_system.py
  tests/system/test_system_async.py
  tests/unit/v1/test_async_aggregation.py
  tests/unit/v1/test_async_client.py
  tests/unit/v1/test_async_collection.py
  tests/unit/v1/test_async_document.py
  tests/unit/v1/test_async_query.py
  tests/unit/v1/test_async_transaction.py
Labels: api: firestore, size: l
